PORT=5000
NODE_ENV=development

DATABASE_URL=postgresql://taxpro_db_nvwk_user:QHVLTFIwMQqZ6ZItvsR6y17QjwC9wpOr@dpg-d7u7vn7avr4c73defml0-a.oregon-postgres.render.com/taxpro_db_nvwk?sslmode=require

JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImFkbWluLTAwMSIsIm5hbWUiOiJBZG1pbiBVc2VyIiwiZW1haWwiOiJhZG1pbkBleGFtcGxlLmNvbSIsInJvbGUiOiJhZG1pbiIsImlhdCI6MTc3ODg1NDMxMywiZXhwIjoxNzc5NDU5MTEzfQ.LksPapSMyJ7zCCOeZRVJn_eD4l62XyA2bqJ0CGXclEE
JWT_EXPIRES_IN=7d